#mainContentContainer{
    padding-top: 80px;
    padding-bottom: 10px;
    color: #37474F;
    height: 100%;
}

.main-content-foreground-element{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    height: 100%;
    background-color: #FFFFFF;
    /* box-shadow: 0 1px 10px #ECEFF1; */
    box-shadow: 0 1px 10px rgba(0, 5, 30, .05);
}

.main-content-foreground-element:hover{
    /* box-shadow: 0 1px 20px #CFD8DC; */
    box-shadow: 0 1px 15px rgba(0, 5, 30, .15);
}

#mainContentContainer .row{
    height: 100%;
}

.main-content-text-lead{
    padding-top: 0px;
    text-align: center;
}

.main-content-title-line{
    font-size: larger;
    font-weight: 600;
}

.main-content-foreground-element-full-width{
    padding-left: 30px;
    padding-right: 30px;
}

