#mainContentContainer{
    padding-top: 2%;
    margin-left: 25%;

    color: #37474F;
}

.main-content-header{
    height: 100%;
    vertical-align: middle;
}

.main-content-title-line{
    font-size: larger;
    font-weight: 600;
}
