#myNavbarContainer{
    background-color: #37474F;
}

#myNavbarContainer a{
    color: #FAFAFA;
    text-shadow: none;
}

#myNavbarContainer a.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}

#myNavbarContainer li.active a{
    background-color: #F44336;
    background-image: none;
}

#myNavbarContainer li a:hover{
    background-color: #263238;
}

#myNavbarContainer li.active a:hover{
    background-color: #F44336;

}

.navbar{
    border-style: none;
}
