<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 main-content-padding"></div>
        <div class="col-lg-4 col-lg-5 col-sm-6">
            <a class="contact-link" href="mailto:psweeney716@gmail.com">
                <div class="contact-card main-content-foreground-element">
                    <img id="googleContactImage"
                         src="icons/logo_gmail_128px.png"
                         class="img-responsive contact-thumbnail">
                    <strong class="lead contact-card-text">Email</strong>
                </div>

            </a>
            <a class="contact-link" href="https://github.com/pat716">
                <div class="contact-card main-content-foreground-element">
                    <img id="githubContactImage"
                         src="icons/github-256.png"
                         class="img-responsive contact-thumbnail">
                    <strong class="lead contact-card-text">GitHub</strong>
                </div>

            </a>
            <a class="contact-link" href="https://www.linkedin.com/in/patrick-sweeney-218140a6">
                <div class="contact-card main-content-foreground-element">
                    <img id="linkedInContactImage"
                         src="icons/linkedin-256.png"
                         class="img-responsive contact-thumbnail">
                    <strong class="lead contact-card-text">LinkedIn</strong>
                </div>

            </a>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-5 main-content-padding"></div>
    </div>
</div>