<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10 ">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <div class="lead main-content-text-lead"><p>A sample of my work</p></div>
                <hr>
                <div class="main-content-text-body">
                    <p>
                        While I've worked on a variety of personal, professional and academic projects over the years,
                        the following are the ones I take particular pride in.
                    </p>
                </div>
            </div>
            <div class="filler-row"></div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div id="impressionistContentRow" class="row">
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10 ">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <p class="lead main-content-text-lead">Impressionist Painting (Android, CMSC 434: Introduction to
                Human-Computer Interaction)</p>
                <hr>
                <div class="row project-content-row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col">
                        <button id="impressionistLeftButton"
                                class="btn btn-default btn-lg pull-right project-nav-button impressionist-button"
                                onclick="loadPrevSlide('impressionist')"
                                disabled>
                            <span class="glyphicon glyphicon-large glyphicon-menu-left"></span>
                        </button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="img-container">
                                    <div class="img-transition">
                                        <img id="impressionistProjectBackgroundImage"
                                             class="img-responsive project-image background-image"
                                             src="images/large/impressionist/norman_loaded.png">
                                        <img onload="updateVerticalMargins()"
                                             id="impressionistProjectImage"
                                             class="img-responsive project-image"
                                             src="images/large/impressionist/norman_start.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                        <div id="impressionistProjectText" class="project-slide-text"></div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col text-center">
                        <button id="impressionistRightButton"
                                class="btn btn-default btn-lg pull-left project-nav-button impressionist-button"
                                onclick="loadNextSlide('impressionist')" >
                            <span class="glyphicon glyphicon-large glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div class="bottom-padding"></div>
    <div id="donationContentRow" class="row">
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <p class="lead main-content-text-lead">Donation Skeleton App (Android, CMSC 434: Introduction to
                    Human-Computer Interaction)</p>
                <hr>
                <div class="row project-content-row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col">
                        <button id="donationLeftButton"
                                class="btn btn-default btn-lg pull-right project-nav-button donation-button"
                                onclick="loadPrevSlide('donation')"
                                disabled>
                            <span class="glyphicon glyphicon-large glyphicon-menu-left"></span>
                        </button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <div id="donationProjectText" class="project-slide-text"></div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <div class="img-container">
                                    <div class="img-transition">
                                        <img id="donationProjectBackgroundImage"
                                             class="img-responsive project-image background-image"
                                             src="images/large/donation/home.png">
                                        <img onload="updateVerticalMargins()"
                                             id="donationProjectImage"
                                             class="img-responsive project-image"
                                             src="images/large/donation/login.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col text-center">
                        <button id="donationRightButton"
                                class="btn btn-default btn-lg pull-left project-nav-button donation-button"
                                onclick="loadNextSlide('donation')" >
                            <span class="glyphicon glyphicon-large glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div class="bottom-padding"></div>
</div>