
<div class="container-fluid">
    <!--
    <div class="row">
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10 ">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <div class="lead main-content-text-lead"><p>A sample of my work</p></div>
                <hr>
                <div class="main-content-text-body">
                    <p>
                        While I've worked on a variety of personal, professional and academic projects over the years,
                        the following are the ones I take particular pride in.
                    </p>
                </div>
            </div>
            <div class="filler-row"></div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    -->
    <div id="impressionistContentRow" class="row">
        <a name="impressionist"></a>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10 ">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <p class="lead main-content-text-lead">Impressionist Painting (Android, CMSC 434: Introduction to
                Human-Computer Interaction)</p>
                <hr>
                <div class="row project-content-row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col">
                        <button id="impressionistLeftButton"
                                class="btn btn-default btn-lg pull-right project-nav-button impressionist-button"
                                onclick="loadPrevSlide('impressionist')"
                                disabled>
                            <span class="glyphicon glyphicon-large glyphicon-menu-left"></span>
                        </button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="img-container">
                                    <div class="img-transition">
                                        <img id="impressionistProjectBackgroundImage"
                                             class="img-responsive project-image background-image"
                                             src="https://lh3.googleusercontent.com/9L7sm6qA-uOm09UAPvGwNUmzWLkHFxrfMX3UkrwK2CT1XsxKnmFAV8C-4JlDSwU4-yAR1O-gPkoMF_2fh7n5Gb5P7U-q6X-QuuG94xdSCoGIj0BqMPcy-CQ1EdV3Kduak7npiPHn0OXg8EUxal3WNJGAsJGkoQvTIlrUr5DsTH9EIy3e2tEeZFSQN9MvlATRwsvfwasHHYAl0MutaCfPciDr4lJpsT2N9MEZZjKk3NrKBv-URyqPm06Fjs26aPnWSTG8IcteOAh3j18p9Q2UMhjmnVUiz-J9MNwtCviynKqBKaJk1QInsTHHhM8OiPGS0VD6ezq_qq0zlZcPi1N6VBJphXBexlkWgC9lxZrgqoRRe91gL2QrKwWpqWSsTVwwv7-_nRLXU8re3a6IfF6NgkgHk3iz0gNNiTKNgLOnrsXdH03E62ZooeJ845ALXHp-7vCeAKsQhqPJOI6Q7tHxaIT-wEFiqP3jj5y3Be5YxGXO8brCDh3xhTfNb1G8oF3fYTKyMIkApDUqr9CQxazPxWutIY-JDzBNDJPc3BRO_FxUOrdfR3y1xygBmXMTIc06Z60EgAS6cORq7RN_72kNYX-Ruf8PiKNjSp1AT6vNFzRWxMek700UntjTRlo--PSAmCvPZEd7kLU4ahnHMokdXbpxkISFHp2-u0PvuXPzqnn1CYg=w1059-h794-no">
                                        <img onload="updateVerticalMargins()"
                                             id="impressionistProjectImage"
                                             class="img-responsive project-image"
                                             src="https://lh3.googleusercontent.com/1-ZRoKgW0HxeAuVo5zzkPkgxBf3Pvj2hWyfCryJGciAEC89-iOjcaPVe7OuTt7d41jMFEfpZuSS9syJXj68tkZfFkMDRudx0XD88bJHvYcoYxAPTzMFd3-w6pVg3uHpFjF4cN0QSaRiStWgekSMh1S_SJ6f3bNsFVl3e12AZ0yW4tclKzWlnTGzWjNSZ6N6QlazWZY7UiDzpt0nTVtFt5_XRceGOtk_rp8rAy7VdkxJLP_c-xmS9_k4wuUVErxIL05qC3ewWdhSJyVUlJWX4qlOzGR1XZK6vBvEFdQ8sjmB8KtBSJByt4Fope85JpJkMxGY93NnWZ0Rev67TwkhTi3s7TXj_oCDi2RSKdlWjti7lJGYkmV4klTYLn8AcNJ6d1a_avqaBnBc4QEQPvrrXSarfuQepltH3U5R9qEfWCusjRaaX0HcVrcrh_V3coYlUJb7wGtmxPUbvZciGPTpF4EhnQ_igrW0Ct2e5kT4VFdheU-8wp6io8HniSLvoDc83BSHkkhgOZKjZmiyHGFDgiMsNMH3tsVMsd4onH2vvKenCrMAcs7wSQTgnetw3QFqkD--ZOi7UB4WX_Qsq6ZMVL5HuQUVXsKrYds0KGxpIDST5BR27EhZungbGo4ZW9lrowiSU2O88DgAGEF7W6IOsaCkl7ZzRmowdAonuUmnkFWgcW1M=w1059-h794-no"
                                             onclick="launchModalImageForCurrentSlide('impressionist')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>
                        <div id="impressionistProjectText" class="project-slide-text"></div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col text-center">
                        <button id="impressionistRightButton"
                                class="btn btn-default btn-lg pull-left project-nav-button impressionist-button"
                                onclick="loadNextSlide('impressionist')" >
                            <span class="glyphicon glyphicon-large glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div class="bottom-padding"></div>
    <div id="donationContentRow" class="row">
        <a name="donation"></a>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <p class="lead main-content-text-lead">Donation Skeleton App (Android, CMSC 434: Introduction to
                    Human-Computer Interaction)</p>
                <hr>
                <div class="row project-content-row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col">
                        <button id="donationLeftButton"
                                class="btn btn-default btn-lg pull-right project-nav-button donation-button"
                                onclick="loadPrevSlide('donation')"
                                disabled>
                            <span class="glyphicon glyphicon-large glyphicon-menu-left"></span>
                        </button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-1"></div>

                            <div class="col-lg-5 col-md-6">
                                <div class="img-container">
                                    <div class="img-transition">
                                        <img id="donationProjectBackgroundImage"
                                             class="img-responsive project-image background-image"
                                             src="https://lh3.googleusercontent.com/6VegJbTZb5EPXLJ0HoM1CK9_gDq9EXpZgf38od2Mlx1zuetYa7vQpK7oFCUBdpVSTTC9ZSoH7VPbCVpB6y9aPCj0oim4ARLgOK2e8LAYjqsvtcy4tbfFFCftV7sKX7t4yTe_CRrC34D0NK72n6s5tjFrXbus1-qAL5nXDR2Bw11YdL1fCcxvXO8fOXm1oEssFTO3JmBXa3WI6d5zRWjr7KpDB11YERJsoxclEqaMORIQlEIGOlzwC3SgIEEqFQnSU3kiAYERD1NVbzxEGRxTuQfHfajhzvAEm2GVAndVO8S32DSTvPOa3hLHwR5LL-7oQs8g0pm-MAt_J29P6dVLavysyxkUDRw7ETkg5eEKyUjdBSm0RSWVFSOyOykVnkJ7H-WnrDiaipsBy9IxDXwAynVUsBIGHzIPU3bkhvGeJs_qcS8qTK-cSvrhdvp-vCDRCRIWeYx2E-J6lXM8aukBeFGQZGBsFj3qtFRTnZpG4jHsVlywbWL-x4oxitV-qFbhNJ_ttNRtNbCvTXBiZCgWrbxo1a_5oD-JMZxJTf3lnWCSfpzxrhNEKheR5kSfTHl9XWQcklhutGAqMOYtq3T9Ows9jQGm90d0XgmTsp9Cz3UsVdxzUMC8MNSLRBmWyq-8xP65XvS4jPnipmAaPmBmSu8c8IXWFx6BRMr72aYgEQrEYKc=w447-h794-no">
                                        <img onload="updateVerticalMargins()"
                                             id="donationProjectImage"
                                             class="img-responsive project-image"
                                             src="https://lh3.googleusercontent.com/_h2EBvNHnRM1lLRNQ1s3lpgWNHbjMAeq_NfB5ZjXjvO5TAcI6BUR-jjmgjrH5V1i1xkZfTWCWrl0wGh1dnGPLE46GTH16FV0K9qt3oMJeBvzBlVotj0YGB6EdainAlym2LZHB11MPBufE7kqunJfY0vew4_OhWuoaCO4YRzEIwxPNcrDtLa_ua7BLsTzCzjUoAsNKG7Wvgujd0CAozraYT6yqfyqqEI8bs0ul_F3vS-SdJPuAaFAk5ttD4a6CKTTZ3ced2dW8dUvynkQlKrS5ZB9n-YAzM1c8nh1b6kSBj2bpxHd7f0XSxVH39GbIaX3A1WaevCqWxSAdzH0PkKMAy6J2giJDZSPxE9kgTzvd9DfKk6Sy4mvIaATRVHrssS8zBGepks5XJfWQczpByF-KtXCG_3E2L6EDR6TfNnimMO4b3Z7bFUQ1imU0jky_as1-kL-HT_zJs6h0qcOWpHCIBIsB4A1nO3CliqJ1yPtN3MEsAJrMoi0oIj5gTCVmq3RArgLC3zqkRVu2NzRSJZ3sM4PnaEgEd9vdI9IUvbdOS4L7ZOE65PZKddQ5UxnZAMlxd3XIUBPAwL8O_kWONzjn5WVhIyPOzdElitfDt-rwdGMzs0XcHmTW2dG3EM8vehMDLsR8NBicn4a2WBl6tDh50ju0VtVljpVUctooE55pd0RlQA=w447-h794-no"
                                             onclick="launchModalImageForCurrentSlide('donation')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div id="donationProjectText" class="project-slide-text"></div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 project-nav-button-col text-center">
                        <button id="donationRightButton"
                                class="btn btn-default btn-lg pull-left project-nav-button donation-button"
                                onclick="loadNextSlide('donation')" >
                            <span class="glyphicon glyphicon-large glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div class="bottom-padding"></div>
    <div id="visualizerContentRow" class="row">
        <a name="visualizer"></a>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
        <div class="col-lg-10 col-md-10">
            <div class="main-content-foreground-element main-content-foreground-element-full-width">
                <p class="lead main-content-text-lead">Audio Visualizer (Java/Processing, Personal Project)</p>
                <hr>
                <div class="row project-content-row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div id="visualizerProjectVideoContainer" class="video-container">
                                    <iframe
                                            id="visualizerProjectVideo"
                                            class="project-video"
                                            onload="updateVisualizerVideoSize()"
                                            width="560"
                                            height="315"
                                            src="https://www.youtube.com/embed/A-UZ7ivRxUo"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                                <div id="visualizerProjectText" class="project-slide-text">
                                    This is captured video from an audio visualizer I've been working on using Java,
                                    Processing, and the Minim library for audio I/O and analytics. Each individual
                                    animated circle is set to respond to the amplitude of a specific frequency range,
                                    with larger amplitudes propelling them outwards before gravity pulls them back
                                    towards the center. The audio source used for this video is an MP3 file (one of my
                                    favorite songs of all time, "Run Away With Me" by Carly Rae Jepsen) but the
                                    visualizer can respond in real time to audio sampled from a microphone input. I
                                    also added motion blur and bloom effects that I implemented myself to give it a
                                    higher-quality feel. Some additional videos I've nade with this project are below.
                                </div>
                                <div class="video-container">
                                    <iframe
                                            class="project-video"
                                            onload="updateVisualizerVideoSize()"
                                            width="560"
                                            height="315"
                                            src="https://www.youtube.com/embed/hg9kjjKW_Vc"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                                <div class="video-container">
                                    <iframe
                                            class="project-video"
                                            onload="updateVisualizerVideoSize()"
                                            width="560"
                                            height="315"
                                            src="https://www.youtube.com/embed/OnulxnVgp-I"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        </div>

                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 main-content-padding"></div>
    </div>
    <div class="bottom-padding"></div>
</div>